@import url("https://use.typekit.net/knz7vmu.css");

body {
    margin: 0;
    font-family: "Europa";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}
