@import url("https://use.typekit.net/knz7vmu.css");
@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");

body {
    margin: 0;
    font-family: "Europa";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}

.Appy {
    position: relative;

    overflow-x: hidden;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}
